@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

html {
  background-color: #101010;
  font-size: 16px;
  line-height: 1em;
  color: #dedede;
  margin-left: 2rem;
  margin-right: 2rem;
}